body {
    background-color: #c8d9a3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chart{

    width: 370px;

    margin-top: 50px;

}